<html xmlns:th="http://www.thymeleaf.org">
<head>
 
</head>
<body>

	
	<div class="container py-2">
		
			
			<h1 th:text="${mensaje}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>
			
			<div class="card-body">
			    <h1> Pagina de inicio de Post Ap-Spoty-id : </h1>
			    <h2> Para llamar al metodo de token se debea de invocar: <Servidor>/spotify-response </h2>
			    <h2> El retorno es un objeto json con el token</h2>
			</div>
 
	</div>
	

</body>
</html>
